pip
ipython
install-jdk
wheel
awscli
pyspark==3.3.0
pyarrow
#numpy
requests
pyspark[sql]
pandas
nltk
gensim
python-dotenv
openai
requests
langchain
langchain-openai
pyreadr
jupyter
loguru
torch
jupyterlab
transformers
joblib
huggingface_hub
llama-cpp-python==0.1.78
numpy==1.23.4
simpletransformers
accelerate
